<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img 
            src="assets/ps-logo.png" 
            alt="playstation logo"
            srcset=""
            width="140px"
            height="32px"
        >
    </div>
    <div class="menu-bar__items">
        <ul>
            <li><a href="https://youtube.com/@nerd_geek">YOUTUBE</a></li>
            <li><a href="https://www.linkedin.com/in/felipe1501">LINKEDIN</a></li>
            <li><a href="https://github.com/Felipe1501">GITHUB</a></li>
            <li><a href="https://felipe1501.github.io/">PORTFÓLIO</a></li>
        </ul>
    </div>
</div>