<div class="home__container">
    
    <app-card 
        gameCover="assets/Capa_do_jogo_Forza_Horizon_4.jpg"
        gameType="DIGITAL ONE && X|S"
        gameLabel="NEW"
        gamePrice="R$ 399,99"
        gameTitle="FORZA HORIZON 4"
    >
    </app-card>
    <app-card 
        gameCover="assets/fh5.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DIGITAL X|S"
        gamePrice="R$ 499,99"
        gameTitle="FORZA HORIZON 5"
    >
    </app-card>
    <app-card 
        gameCover="assets/FIFA-23-capa-com-Neymar.jpg"
        gameLabel="NEW"
        gameType="DIGITAL X|S"
        gamePrice="R$ 499,99"
        gameTitle="EAFC 24"
    >
    </app-card>
    <app-card 
        gameCover="assets/rl.jpg"
        gameLabel="FREE"
        gameType="DIGITAL | XBOX "
        gamePrice="FREE"
        gameTitle="ROCKET LEAGUE"
    >
    </app-card>
</div>

