/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(1, 112, 20) 0%, rgb(3, 37, 2) 35%, rgb(2, 32, 7) 100%);
}